@import '../variables';

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  .edit{
    position: relative;
    .editTrue {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 25%;
      p{
        cursor: pointer;
        width: 30;
        display: inline;
        padding: 7px;
        margin: 5px;
        background-color: white;
        border-radius: 8px;
        &.green{
          color: white;
          background-color: rgb(10, 159, 10);
          &:hover {
              font-weight: 500;
            }
        }
        &.red {
          color: white;
          background-color: rgb(213, 0, 0);
          &:hover {
              font-weight: bold;
            }
        }
      }
      }

  }

  &-wrapper{
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
    z-index: 9;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
