.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    .smile{
        font-size: 60px;
    }
    .img{
        width: 32%;
        height: 32%;
    }
    .button{
        color: white;
        background-color: #232323;
        font-size: 18px;
        font-weight: 600;
        margin: 20px auto;
        padding: 12px 0 14px;
        width: 230px;
        border-radius: 30px;
        &:hover{
            background-color: #363636;
        }
    }
}